---
apiVersion: v1
kind: Pod
metadata:
  name: first-pod
  namespace: work
  labels:
    app: nginx
    version: 1.27.5
spec:
  initContainers:
    - name: init-service
      image: busybox:1.28
      command:
        - 'sh'
        - '-c'
        - 'echo Initializing... && sleep 10'
      resources:
        requests:
          memory: "64Mi"
          cpu: "250m"
        limits:
          memory: "128Mi"
          cpu: "500m"      
  containers:
    - name: nginx
      image: nginx:1.27.5
      ports:
        - containerPort: 80
      resources:
        requests:
          memory: "64Mi"
          cpu: "250m"
        limits:
          memory: "128Mi"
          cpu: "500m"
      livenessProbe:
        tcpSocket:
          port: 80
        initialDelaySeconds: 15
        periodSeconds: 10
      readinessProbe:
        tcpSocket:
          port: 80
        initialDelaySeconds: 15
        periodSeconds: 10